<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ranklist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>335DDEF11C3FCDE800750514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335DDF051C3FCDE900750514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335DDF101C3FCDE900750514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
